@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  /*blacks/greys/white*/
  --black: 43, 41, 38;
  --tint1: 64, 62, 60;
  --tint2: 85, 84, 81;
  --tint3: 107, 105, 103;
  --tint4: 128, 127, 125;
  --tint5: 149, 148, 147;
  --tint6: 170, 169, 168;
  --tint7: 170, 169, 168;
  --tint8: 213, 212, 212;
  --tint9: 234, 234, 233;
  --white: 255,255,255;
  --gradient_light: linear-gradient(to bottom, rgba(var(--white),1),rgba(var(--tint9),1), rgba(var(--tint8),1));
  /*brand colors*/
  --brandDark: 27, 89, 83;
  --brandMid: 31, 115, 106;
  --brandLight: 8, 140, 116;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(var(--white),1),rgba(var(--tint9),.9), rgba(var(--tint8),0)), url('https://images.freejpg.com.ar/900/2606/shoes-skateboard-park-youth-sport-extreme-fun-F100029238.jpg');
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: grayscale(100%);
  background-position: bottom;
  background-repeat: no-repeat;
}

body{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: rgba(var(--black),1);
  font-size: 16px;
}

.App{
  min-height: 100vh;
  backdrop-filter:grayscale(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  padding: 24px 0 0;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  backdrop-filter: blur(10px)
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header .logoSVG{
  /* fill: rgba(var(--black),1); */
  fill: #1B5953;
  max-width: 320px;
  margin: 0 auto;
  display: block;
  padding-bottom: 24px;
}

@keyframes sectionGrow{
  from{
    max-height: 0vh;
  }
  to{
    max-height: 100vh;
  }
}

@keyframes contentAppear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.loggedIn{
  background: rgba(var(--brandDark),1);
  max-height: 0vh;
  animation: sectionGrow 1s ease forwards;
}

.loggedIn .container{
  display: flex;
  opacity: 0;
  justify-content: space-between;
  padding: 8px 0;
  position: relative;
  color: rgba(var(--tint9),1);
  animation: contentAppear .3s ease .3s forwards;
}

.loggedIn img{
  border-radius: 100%;
  width: 48px;
  border: 4px solid rgba(var(--brandLight),1);
  position: absolute;
  top: -6px;
  z-index: 99;
}

.loggedIn .username{
  margin-left: 56px;
  position: relative;
  padding-left: 28px;
}

.loggedIn .logoutSection a{
  display: block;
  font-weight: bold;
  color: rgba(var(--tint8),1);
  text-decoration: none;
  transition: all .6s ease;
  position: relative;
  padding-right: 0px;
}

.loggedIn .logoutSection a:hover{
  color: rgba(var(--white),1);
  padding-right: 24px;
}

.loggedIn .logoutSection a svg{
  fill: rgba(var(--white),1);
  opacity: 0;
  transform: scale(40%);
  position: absolute;
  top: -15px;
  right: -16px;
  transition: all .6s ease;
}

.loggedIn .logoutSection a:hover svg{
  opacity: 1;
}

.profileInfo svg{
  fill: rgba(var(--tint8),1);
  position: absolute;
  transform: scale(48%);
  top: -15px;
  right: 26px;
}



.inlineLink{
  color: rgba(var(--brandLight),1);
  text-decoration: none;
  padding-bottom: .08em;
  border-bottom: .08em solid rgba(var(--brandDark),1);
  transition: all .6s ease;
}

.inlineLink:hover{
  color: rgba(var(--brandDark),1);
  border-color: white;
}

.form_login_register{
  background: rgba(var(--white),.8);
  backdrop-filter: blur(80px);
  border: 1px solid rgba(var(--tint9),1);
  padding: 24px 16px 32px; 
  border-radius: 8px;
  max-width: 320px;
  margin: 64px auto 32px;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  font-size: 1rem;
}

.form_login_register h2{
  color: #1B5953;
  padding-bottom: 8px;
  border-bottom: 4px solid #1B5953 
}

.form_login_register form{
  padding:  16px 0 0;
  
}

.form_login_register label, 
.form_login_register input, 
.form_login_register button{
  display: block;
}

.form_login_register label{
  margin-bottom: 4px;
}

.form_login_register input{
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 10px 8px 8px;
  border-bottom: 2px solid rgba(var(--tint8),1);
  background: rgba(var(--tint8),1);
  margin-bottom: 16px;
  font-family: inherit;
  transition: all .6s ease;
}

.form_login_register input:focus{
  border-color: rgba(var(--brandLight),1);
  outline: none;
}

.form_login_register button{
  width: 100%;
  border: none;
  background-color: rgba(var(--brandDark),1);
  border-bottom: 4px solid rgba(var(--brandDark),1);
  padding: 12px 16px 8px;
  font-weight: bold;
  color: rgba(var(--white,1));
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 1rem;
  transition: all .6s ease;
}

.form_login_register button:hover{
  background-color: rgba(var(--brandLight),1);
}

.form_login_register button:focus{
  outline: none;
  background-color: rgba(var(--brandLight),1);
}

.form_login_register p {
  text-align: center;
  display: block;
}

.inputWrapper{
  position: relative;
}

.inputWrapper svg{
  fill: rgba(var(--tint2),1);
  position: absolute;
  top: -4px;
  right: -4px;
  transform: scale(50%);
  cursor: pointer;
  transition: all .6s ease;
}

.inputWrapper svg:hover{
  fill: rgba(var(--brandLight),1);
}

main .container{
  background: rgba(var(--white),.8);
  backdrop-filter: blur(80px);
  border: 1px solid rgba(var(--tint9),1);
  border-radius: 8px;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  font-size: 1rem;
  margin-top: 64px;
  margin-bottom: 64px;
}

.mapboxgl-marker svg{
  cursor: pointer;
}

.mapboxgl-marker svg path{
  fill: rgba(var(--brandDark),1);
  transition: all .6s ease;
}

.mapboxgl-marker svg path:hover{
  fill: rgba(var(--brandLight),1);
}

.addSpotSection{
  background: rgba(var(--brandDark),1);
  color: rgba(var(--white),1);
  padding: 16px 8px;
}

.addSpotSection h2, .addSpotSection p{
  text-align: center;
}
.addSpotSection .coordinateFlex{
  display: flex;
  text-align: center;
  gap: 16px;
  justify-content: center;
  padding: 16px 0;
}

.addSpotSection .btnSection{
  display: flex;
  justify-content: center;
}

.addSpotSection .btnSection a{
  display: inline-block;
  background: rgba(var(--brandDark),1);
  border: 1px solid rgba(var(--white),1); 
  color: rgba(var(--white),1); 
  margin: 0 auto;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: all .6s ease;
}

.addSpotSection .btnSection a:hover{
  background: rgba(var(--white),1); 
  color: rgba(var(--brandDark),1); 

}

.spotPreviews{
  padding: 24px 16px;
}

.spotCardMapping{
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.spotCard{
  display: block;
  position: relative;
  width: 298px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 16px; 
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  background-size: cover;
  border: 1px solid rgba(var(--white),1);
  cursor: pointer;
  position: relative;
  transition: all .6s ease;
}

.spotCard:hover{
  border-color: rgba(var(--brandDark),1)
}

.spotCard .spotInfo{
  background: rgba(var(--white),.8);
  width: 100%;
  padding: 16px 8px;
  position: absolute;
  text-align: center;
  bottom: 0;
  transition: all .6s ease;
}

.spotCard:hover .spotInfo{
  background: rgba(var(--white),1);
}



.spotCard .spotInfo .dropins{
  position: absolute;
  top: -40px;
  background: rgba(var(--black),0.64);
  backdrop-filter: blur(10px);
  color: rgba(var(--white),1);
  padding: 8px;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.064);
  border-radius: 16px;
  font-size: 14px;
}

.spotCard .spotInfo .dropins:before{
  display: inline-block;
  content: '';
  width: 14px;
  height: 14px;
  background: rgba(var(--brandLight),1);
  border-radius: 50%;
  position: relative;
  bottom: -2px;
  margin-right: 8px;
}

.spotImage{
  width: 100%;
  max-width: 320px;
}

/* SPOT DETAILS */

.padded{
  padding: 16px;
}

.bordered{
  border-radius: 8px;
  border: 2px solid rgba(var(--brandMid),1);
}

.bordered h2{
  background-color: rgba(var(--brandMid),1);
  color: rgba(var(--white),1);
  text-align: center;
  padding: 8px;
}

.bordered .flex{
  display: flex;
  padding: 8px;
  gap: 16px;
}

.flex .right{
  width: 100%;
}

.bordered .basicInfo{
  padding: 8px;
  text-align: center;
  width: 100%;
}


.basicInfo .coordinateFlex{
  display:flex;
  gap: 16px;
  justify-content: center;
  padding: 16px 0;
}

.basicInfo h3{
  margin-top: 16px;
}

.obstaclesSection form{
  display: flex;
  gap: 4px;
  margin-top: 16px;
}

.obstaclesSection input{
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 10px 8px 8px;
  border-bottom: 2px solid rgba(var(--tint8),1);
  background: rgba(var(--tint8),1);
  margin-bottom: 16px;
  font-family: inherit;
  transition: all .6s ease;
}

.obstaclesSection input:focus{
  border-color: rgba(var(--brandLight),1);
  outline: none;
}

.obstaclesSection form button{
  width: 39px;
  height: 39px;
  border: none;
  background-color: rgba(var(--brandDark),1);
  border-bottom: 4px solid rgba(var(--brandDark),1);
  padding: 12px 16px 8px;
  font-weight: bold;
  color: rgba(var(--white,1));
  cursor: pointer;
  margin: 0 auto;
  font-size: 1rem;
  transition: all .6s ease;
}



.obstaclesSection .obstacleContainer{
  position: relative;
  border: 1px solid rgba(var(--tint4),1);
  padding: 4px 16px;
  border-radius: 8px;
  background: rgba(var(--white),1)

}

.obstaclesSection .obstacleContainer svg{
  position: absolute;
  transform: scale(50%);
  top: -10px;
  right: 0;
  fill: rgba(var(--tint4),1);
  cursor: pointer;
}

.commentsSection{
  padding: 32px 16px;
}

.commentsSection .addComment{
  margin-bottom: 32px;
}

.commentsSection .addComment textarea{
  display: block;
  width: 100%;
  height: 80px;
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  border: none;
  background: rgba(var(--tint8),1);
  border-bottom: 2px solid rgba(var(--tint8),1);
  margin-bottom: 16px;
  transition: all .6s ease;
  resize: none;
}

.commentsSection .addComment form button{
  max-width: 240px;
  width: 100%;
  border: none;
  background-color: rgba(var(--brandDark),1);
  border-bottom: 4px solid rgba(var(--brandDark),1);
  padding: 12px 16px 8px;
  font-weight: bold;
  color: rgba(var(--white,1));
  cursor: pointer;
  margin: 0 auto;
  font-size: 1rem;
  transition: all .6s ease;
}

.commentsSection .addComment form button:hover{
  background-color: rgba(var(--brandLight),1);
}

.commentsSection .addComment form button:focus{
  outline: none;
  background-color: rgba(var(--brandLight),1);
}



.commentsSection .addComment textarea:focus{
  border-color: rgba(var(--brandLight),1);
  outline: none;
}

.comment{
  padding: 8px;
  background: rgba(var(--white),1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  margin-bottom: 8px;
}

.comment .commentUserInfo{
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid rgba(var(--brandMid),1);
  position: relative;
}

.comment .commentUserInfo svg{
  position: absolute;
  transform: scale(50%);
  right: 0;
  fill: rgba(var(--tint4),1);
  cursor: pointer;
  transition: .32s ease all;
}

.comment .commentUserInfo svg:hover{
  fill: rgba(var(--brandLight),1);
}

.comment .commentUserInfo img{
  width: 32px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
}

.comment .commentBody{
  padding: 16px 0 8px 40px;
}

.addSpotForm{
  padding: 24px 16px;
  width: 100%;
  max-width: 320px;
  margin: 16px auto;
  background: rgba(var(--white),1);
  border-radius: 16px;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
}

.addSpotForm label{
  display: block;
  margin-bottom: 4px;
}

.addSpotForm .radioGroup{
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;
}

.addSpotForm .radioGroup label{
  display: initial;
  padding-left: 4px;
  cursor: pointer;
}

.addSpotForm input[type="text"]{
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 10px 8px 8px;
  border-bottom: 2px solid rgba(var(--tint8),1);
  background: rgba(var(--tint8),1);
  margin-bottom: 16px;
  font-family: inherit;
  transition: all .6s ease;
}

.addSpotForm input[type="text"]:focus{
  border-color: rgba(var(--brandLight),1);
  outline: none;
}

.addSpotForm input[type="radio"]{
  border: 1px solid rgba(var(--tint8),1);;
  outline: none;
  appearance: none;
  background: rgba(var(--tint8),1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  bottom: -2px;
  cursor: pointer;
  transition: all .3s ease;
}

.addSpotForm input[type="radio"]:checked{
  background: rgba(var(--brandLight),1);
  border-color: rgba(var(--brandLight),1);
}

.addSpotForm input[type="radio"]:focus{
  border-color: rgba(var(--brandLight),1);
}

.addSpotForm input[type="file"]{
  background: rgba(var(--tint8),1);
  width: 100%;
  margin-bottom: 16px;
  padding: 9px 9px 9px 108px;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.addSpotForm input[type="file"]::file-selector-button{
  box-sizing: border-box;
  background: rgba(var(--brandDark),1);
  color: rgba(var(--white),1);
  position: absolute;
  height: 39px;
  left: 0;
  top: 0;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: all .6s ease;
}

.addSpotForm input[type="file"]::file-selector-button:hover{
  background: rgba(var(--brandLight),1);
}


.addSpotForm button{
  width: 100%;
  border: none;
  background-color: rgba(var(--brandDark),1);
  border-bottom: 4px solid rgba(var(--brandDark),1);
  padding: 12px 16px 8px;
  font-weight: bold;
  color: rgba(var(--white,1));
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 1rem;
  transition: all .6s ease;
}

.addSpotForm button:hover{
  background-color: rgba(var(--brandLight),1);
}

.addSpotForm button:focus{
  outline: none;
  background-color: rgba(var(--brandLight),1);
}



footer{
  background: rgba(var(--white),.32);
  backdrop-filter: blur(100px);
  box-shadow: 0px -4px 8px 4px rgba(0,0,0,0.03);
  padding: 24px;
  text-align: center;
  color: rgba(var(--brandDark),1)
}

footer svg{
  fill: rgba(var(--brandDark),1);
  position: relative;
  bottom: 0;
  transition: all .6s ease;
}

footer svg:hover{
  bottom: 4px;
}

footer .socialLinks{
  display: flex;
  list-style: none;
  justify-content: center;
}

