@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  /*blacks/greys/white*/
  --black: 43, 41, 38;
  --tint1: 64, 62, 60;
  --tint2: 85, 84, 81;
  --tint3: 107, 105, 103;
  --tint4: 128, 127, 125;
  --tint5: 149, 148, 147;
  --tint6: 170, 169, 168;
  --tint7: 170, 169, 168;
  --tint8: 213, 212, 212;
  --tint9: 234, 234, 233;
  --white: 255,255,255;
  --gradient_light: linear-gradient(to bottom, rgba(var(--white),1),rgba(var(--tint9),1), rgba(var(--tint8),1));
  /*brand colors*/
  --brandDark: 27, 89, 83;
  --brandMid: 31, 115, 106;
  --brandLight: 8, 140, 116;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(var(--white),1),rgba(var(--tint9),.9), rgba(var(--tint8),0)), url('https://images.freejpg.com.ar/900/2606/shoes-skateboard-park-youth-sport-extreme-fun-F100029238.jpg');
  background-size: cover;
  backdrop-filter: grayscale(100%);
  background-position: bottom;
  background-repeat: no-repeat;
}

body{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: rgba(var(--black),1);
  font-size: 16px;
}

.App{
  min-height: 100vh;
  backdrop-filter:grayscale(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  padding: 24px;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  backdrop-filter: blur(10px)
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header svg{
  /* fill: rgba(var(--black),1); */
  fill: #1B5953;
  max-width: 320px;
  margin: 0 auto;
  display: block;
}

main{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.inlineLink{
  color: rgba(var(--brandLight),1);
  text-decoration: none;
  padding-bottom: .08em;
  border-bottom: .08em solid rgba(var(--brandDark),1);
  transition: all .6s ease;
}

.inlineLink:hover{
  color: rgba(var(--brandDark),1);
  border-color: white;
}

.form_login_register{
  background: rgba(var(--white),.8);
  backdrop-filter: blur(80px);
  border: 1px solid rgba(var(--tint9),1);
  padding: 24px 16px 32px; 
  border-radius: 8px;
  max-width: 320px;
  margin: 0 auto 32px;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.03);
  font-size: 1rem;
}

.form_login_register h2{
  color: #1B5953;
  padding-bottom: 8px;
  border-bottom: 4px solid #1B5953 
}

.form_login_register form{
  padding:  16px 0 0;
  
}

.form_login_register label, 
.form_login_register input, 
.form_login_register button{
  display: block;
}

.form_login_register label{
  margin-bottom: 4px;
}

.form_login_register input{
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 8px;
  border-bottom: 2px solid rgba(var(--tint8),1);
  background: rgba(var(--tint8),1);
  margin-bottom: 16px;
  font-family: inherit;
  transition: all .6s ease;
}

.form_login_register input:focus{
  border-color: rgba(var(--brandLight),1);
  outline: none;
}

.form_login_register button{
  width: 100%;
  border: none;
  background-color: rgba(var(--brandDark),1);
  border-bottom: 4px solid rgba(var(--brandDark),1);
  padding: 12px 16px 8px;
  font-weight: bold;
  color: rgba(var(--white,1));
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 1rem;
  transition: all .6s ease;
}

.form_login_register button:hover{
  background-color: rgba(var(--brandLight),1);
}

.form_login_register button:focus{
  outline: none;
  background-color: rgba(var(--brandLight),1);
}

.form_login_register p {
  text-align: center;
  display: block;
}

footer{
  background: rgba(var(--white),.32);
  backdrop-filter: blur(100px);
  box-shadow: 0px -4px 8px 4px rgba(0,0,0,0.03);padding: 24px;
  text-align: center;
  color: rgba(var(--brandDark),1)
}

footer svg{
  fill: rgba(var(--brandDark),1);
  position: relative;
  bottom: 0;
  transition: all .6s ease;
}

footer svg:hover{
  bottom: 4px;
}

footer .socialLinks{
  display: flex;
  list-style: none;
  justify-content: center;
}

